<div style="display: flex;">
    <div class="sidebar">
        <div *ngIf="sidenav._isOpened; then collapseButton else expandButton"></div>
        <ng-template #collapseButton>
            <md-icon class="action-icon action-icon-large" (click)="sidenav.close()">
                chevron_left
            </md-icon>
        </ng-template>
        <ng-template #expandButton>
            <md-icon class="action-icon action-icon-large" (click)="sidenav.open()">
                chevron_right
            </md-icon>
        </ng-template>
    </div>
    <md-sidenav-container style="flex: 1">
        <md-sidenav #sidenav mode="side" class="app-sidenav" align="start">
            <md-input-container>
                <input mdInput #keyWord (keyup.enter)="onSearchReport(keyWord.value)">
                <md-placeholder>
                    <i class="material-icons app-input-icon">search</i> Search word
                </md-placeholder>
            </md-input-container>

            <div *ngIf="searchingSummary">
                <md-spinner></md-spinner>
            </div>
            <div *ngIf="searchErrorMessage">
                <md-chip-list>
                    <md-chip color="warn" selected="true" [mdTooltip]="searchErrorMessage" mdTooltipPosition="after">
                        Error!!
                    </md-chip>
                </md-chip-list>
            </div>
            <div *ngIf="!searchingSummary && !searchErrorMessage">
                <md-card *ngFor="let row of rows"
                         (click)="onClickCard(row, $event)"
                         [ngClass]="activeReport && row.hashkey == activeReport.key ?
                            ['hvr-curl-bottom-right', 'summary-card', 'summary-card-active'] :
                                ['hvr-curl-bottom-right', 'summary-card']"
                >
                    <md-card-header>
                        <md-card-title>
                            {{row.title}}
                            <span class="card-hashkey-text">({{row.hashkey.substring(0, 7)}})</span>
                        </md-card-title>
                        <md-card-subtitle>{{row.begin_time}}</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                        <md-chip-list>
                            <md-chip color="primary" selected="true">{{row.same_count}}</md-chip>
                            <md-chip color="accent" selected="true">{{row.different_count}}</md-chip>
                            <md-chip color="warn" selected="true">{{row.failure_count}}</md-chip>
                        </md-chip-list>
                        <span *ngIf="loadingReportKey == row.hashkey">
                            Now Loading...
                            <md-progress-bar mode="indeterminate"></md-progress-bar>
                        </span>
                        <span *ngIf="row.deleting">
                            Now Deleting...
                            <md-progress-bar mode="indeterminate" color="warn"></md-progress-bar>
                        </span>
                        <span *ngIf="row.deleteErrorMessage">
                            <md-chip-list class="smart-padding-without-bottom">
                                <md-chip color="warn" selected="true" [mdTooltip]="row.deleteErrorMessage" mdTooltipPosition="after">
                                    Fail to delete!!
                                </md-chip>
                            </md-chip-list>
                        </span>
                        <span *ngIf="row.downloading">
                            Prepare Downloading...
                            <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
                        </span>
                        <span *ngIf="row.downloadErrorMessage">
                            <md-chip-list class="smart-padding-without-bottom">
                                <md-chip color="warn" selected="true" [mdTooltip]="row.downloadErrorMessage" mdTooltipPosition="after">
                                    Fail to download!!
                                </md-chip>
                            </md-chip-list>
                        </span>
                    </md-card-content>
                    <md-card-actions>
                        <md-icon (click)="removeDetail(row.hashkey, $event)"
                                 class="action-icon hvr-buzz-out">
                            delete_forever
                        </md-icon>
                        <md-icon *ngIf="row.with_zip"
                                 (click)="downloadArchive(row.hashkey, $event)"
                                 class="action-icon hvr-buzz-out">
                            cloud_download
                        </md-icon>
                        <div *ngIf="row.retry_hash" class="card-retry-text">
                            Retried from
                            <span class="hvr-underline-from-center action-text"
                                  (click)="onClickRetryHash(row.retry_hash, $event)">
                                <u>{{row.retry_hash.substring(0, 7)}}</u>
                            </span>
                        </div>
                    </md-card-actions>
                </md-card>
            </div>
        </md-sidenav>

        <div class="smart-padding">
            <div *ngIf="activeReport">
                <md-tab-group>
                    <md-tab label="Table">
                        <div class="smart-padding">
                            <div style="float: right;" class="center-vertical">
                                <md-icon>access_time</md-icon>
                                <small>{{activeReport.summary.time.start}} ～ {{activeReport.summary.time.end}}</small>
                            </div>
                            <div class="center-vertical">
                                <button md-icon-button [mdMenuTriggerFor]="menu">
                                    <md-icon>more_vert</md-icon>
                                </button>
                                <md-menu #menu="mdMenu" [overlapTrigger]="false">
                                    <button md-menu-item (click)="showRequestsAsJson()">
                                        <md-icon>open_in_new</md-icon>
                                        <span>Show requests as logs</span>
                                    </button>
                                    <button md-menu-item (click)="showSummaryAsJson()">
                                        <md-icon>open_in_new</md-icon>
                                        <span>Show summary</span>
                                    </button>
                                </md-menu>
                                <h2>
                                    {{activeReport.title}}
                                    <span class="hashkey-text">({{activeReport.key.substring(0, 7)}})</span>
                                    <span *ngIf="activeReport.retry_hash" class="retry-text">
                                    retried from
                                    <span class="hvr-underline-from-center action-text"
                                          (click)="onClickRetryHash(activeReport.retry_hash, $event)">
                                        <u>{{activeReport.retry_hash.substring(0, 7)}}</u>
                                    </span>
                                </span>
                                </h2>
                            </div>
                            <div class="smart-padding-without-top">
                                <small>
                                    <md-chip>{{activeReport.summary.one.name}}</md-chip>
                                    {{activeReport.summary.one.host}}
                                </small>
                                <small>
                                    <md-chip>{{activeReport.summary.other.name}}</md-chip>
                                    {{activeReport.summary.other.host}}
                                </small>
                            </div>
                            <ng2-smart-table [settings]="settings"
                                             [source]="tableSource"
                                             (userRowSelect)="onSelectRow($event);"
                            >
                            </ng2-smart-table>
                        </div>
                    </md-tab>
                    <md-tab label="Chart">
                        <div class="smart-padding">
                            <div [ng2-highcharts]="chartOptions"></div>
                        </div>
                    </md-tab>
                </md-tab-group>
            </div>

            <p *ngFor="let message of errorMessages">
                {{message}}
            </p>
        </div>

    </md-sidenav-container>
</div>
