<div style="display: flex;">
    <div class="sidebar">
        <div *ngIf="sidenav.opened; then collapseButton else expandButton"></div>
        <ng-template #collapseButton>
            <mat-icon class="action-icon action-icon-large" (click)="sidenav.close()">
                chevron_left
            </mat-icon>
        </ng-template>
        <ng-template #expandButton>
            <mat-icon class="action-icon action-icon-large" (click)="sidenav.open()">
                chevron_right
            </mat-icon>
        </ng-template>
    </div>
    <div *ngIf="loadingReportKey">
        <app-logo-loading></app-logo-loading>
    </div>
    <mat-sidenav-container style="flex: 1">
        <mat-sidenav #sidenav mode="side" align="start" class="scrollable-y">
            <mat-form-field class="search-word-form">
                <input matInput #keyWord title="Free word search"
                       [(ngModel)]="word" (keyup.enter)="onSearchReports(word)">
                <mat-placeholder>
                    <mat-icon>search</mat-icon>
                    Search word
                </mat-placeholder>
            </mat-form-field>

            <div *ngIf="searchingSummary">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="searchErrorMessage">
                <mat-chip-list>
                    <mat-chip color="warn" selected="true" title={{searchErrorMessage}}>
                        Error!!
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div *ngIf="!searchingSummary && !searchErrorMessage">
                <mat-card *ngFor="let row of rows"
                          (click)="onClickCard(row, $event)"
                          [ngClass]="activeReport && row.hashkey == activeReport.key ?
                            ['hvr-curl-bottom-right', 'summary-card', 'summary-card-active'] :
                                ['hvr-curl-bottom-right', 'summary-card']"
                >
                    <div [ngClass]="'check-status '+row.check_status">
                        {{toDisplay(row.check_status)}}
                        <mat-select (change)="onSelectCheckStatus(row.hashkey, $event)"
                                    (click)="$event.stopPropagation();"
                                    [(ngModel)]="row.check_status">
                            <mat-option *ngFor="let status of statuses" [value]="status">
                                {{toDisplay(status)}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <mat-card-header>
                        <mat-card-title class="summary-card-title"
                                        title={{row.title}}
                        >
                            {{row.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{row.begin_time | date:'yyyy-MM-dd HH:mm:ss'}}
                            ({{row.elapsed_sec}} sec)
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <app-badge-list>
                            <app-badge kind="fine">{{row.same_count}}</app-badge>
                            <app-badge kind="warning">{{row.different_count}}</app-badge>
                            <app-badge kind="danger">{{row.failure_count}}</app-badge>
                        </app-badge-list>
                        <div *ngIf="row.tags">
                            <span class="summary-card-tag" *ngFor="let tag of row.tags.values">{{tag}}</span>
                        </div>
                        <span *ngIf="loadingReportKey == row.hashkey">
                            Now Loading...
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </span>
                        <span *ngIf="row.deleting">
                            Now Deleting...
                            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                        </span>
                        <span *ngIf="row.deleteErrorMessage">
                            <mat-chip-list class="smart-padding-without-bottom">
                                <mat-chip color="warn" selected="true"
                                          title={{row.deleteErrorMessage}}
                                >
                                    Fail to delete!!
                                </mat-chip>
                            </mat-chip-list>
                        </span>
                        <span *ngIf="row.downloading">
                            Prepare Downloading...
                            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                        </span>
                        <span *ngIf="row.downloadErrorMessage">
                            <mat-chip-list class="smart-padding-without-bottom">
                                <mat-chip color="warn" selected="true"
                                          title={{row.downloadErrorMessage}}
                                >
                                    Fail to download!!
                                </mat-chip>
                            </mat-chip-list>
                        </span>
                        <span *ngIf="row.updatingErrorMessage">
                            <mat-chip-list class="smart-padding-without-bottom">
                                <mat-chip color="warn" selected="true"
                                          title={{row.updatingErrorMessage}}
                                >
                                    Fail to update check status!!
                                </mat-chip>
                            </mat-chip-list>
                        </span>
                    </mat-card-content>
                    <mat-card-actions style="padding: 0;">
                        <mat-icon (click)="removeDetail(row.hashkey, $event)"
                                  class="action-icon hvr-buzz-out"
                                  title="Remove from S3 storage (never restore)">
                            delete_forever
                        </mat-icon>
                        <mat-icon (click)="downloadReport(row.hashkey, false, $event)"
                                  class="action-icon hvr-buzz-out"
                                  title="Download report.json"
                        >
                            file_download
                        </mat-icon>
                        <mat-icon *ngIf="row.with_zip"
                                  (click)="downloadArchive(row.hashkey, $event)"
                                  class="action-icon hvr-buzz-out"
                                  title="Download all (zip file)"
                        >
                            cloud_download
                        </mat-icon>
                        <span class="card-hashkey-text" style="float: right;">{{row.hashkey.substring(0, 7)}}</span>
                        <div *ngIf="row.retry_hash" class="card-retry-text">
                            Retried from
                            <span class="hvr-underline-from-center action-text"
                                  (click)="onClickRetryHash(row.retry_hash, $event)">
                                <u>{{row.retry_hash.substring(0, 7)}}</u>
                            </span>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-sidenav>

        <div class="smart-padding scrollable-y">

            <p *ngFor="let message of errorMessages" class="error-message" style="font-size: 150%; font-weight: bold;">
                <mat-icon>report_problem</mat-icon>
                {{message}}
            </p>
            <div *ngIf="activeReport">
                <div class="center-vertical" style="flex-direction: row-reverse;">
                    <small>{{activeReport.summary.time.start | date:'yyyy-MM-dd HH:mm:ss'}} ～
                        {{activeReport.summary.time.end | date:'yyyy-MM-dd HH:mm:ss'}}
                    </small>
                    <mat-icon>access_time</mat-icon>
                </div>
                <div class="center-vertical">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="showRequestsAsJson()">
                            <mat-icon>open_in_new</mat-icon>
                            <span>Show requests as logs</span>
                        </button>
                        <button mat-menu-item (click)="showSummaryAsJson()">
                            <mat-icon>open_in_new</mat-icon>
                            <span>Show summary</span>
                        </button>
                        <button mat-menu-item (click)="downloadReport(activeReport.key, true, $event)">
                            <mat-icon>file_download</mat-icon>
                            <span>Download filtered report</span>
                        </button>
                        <button mat-menu-item (click)="showReport(activeReport.key, true)">
                            <mat-icon>youtube_searched_for</mat-icon>
                            <span>Intelligent analytics</span>
                        </button>
                    </mat-menu>
                    <h2>
                        <!--suppress HtmlUnknownAttribute -->
                        <app-inline-editor [value]="activeReport.title"
                                           (onUpdate)="onUpdateTitle($event)">
                        </app-inline-editor>
                        <span class="hashkey-text hvr-underline-from-center action-text"
                              (click)="copyActiveReportLink()"
                        >
                                    ({{activeReport.key.substring(0, 7)}})
                        </span>
                        <span *ngIf="activeReport.retry_hash" class="retry-text">
                                retried from
                                <span class="hvr-underline-from-center action-text"
                                      (click)="onClickRetryHash(activeReport.retry_hash, $event)">
                                    <u>{{activeReport.retry_hash.substring(0, 7)}}</u>
                                </span>
                            </span>
                    </h2>
                </div>
                <div class="smart-padding-left">
                    <!--suppress HtmlUnknownAttribute -->
                    <app-markdown-inline-editor [value]="activeReport.description"
                                                (onUpdate)="onUpdateDescription($event)">
                    </app-markdown-inline-editor>
                </div>
                <hr/>
                <div class="pain2 smart-padding">
                    <app-panel [title]="activeReport.summary.one.name" class="smart-padding-small">
                        <small><a [href]="activeReport.summary.one.host">{{activeReport.summary.one.host}}</a></small>
                    </app-panel>
                    <app-panel [title]="activeReport.summary.other.name" class="smart-padding-small">
                        <small><a [href]="activeReport.summary.other.host">{{activeReport.summary.other.host}}</a>
                        </small>
                    </app-panel>
                </div>
                <mat-tab-group>
                    <mat-tab label="Table">
                        <div style="padding: 15px;">
                            <app-trials-table
                               [tableRowData]="tableRowData"
                               (onClickRow)="handleRowClicked($event)"
                               (onDisplayedTrialsUpdated)="handleDisplayedTrialsUpdated($event)"
                            >
                            </app-trials-table>
                        </div>
                        <app-analytics
                            [summary]="activeReport.summary"
                            [trials]="displayedTrials"
                            (onClickTrials)="showDetail(0, $event)"
                        >
                        </app-analytics>

                    </mat-tab>
                    <mat-tab label="Chart">
                        <div class="smart-padding">
                            <app-response-time-chart
                                [summary]="activeReport.summary"
                                [trials]="displayedTrials"
                                (onPointClick)="showDetail($event)"
                            >
                            </app-response-time-chart>
                        </div>
                    </mat-tab>
                    <mat-tab label="Analytics">
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

    </mat-sidenav-container>
</div>
