:host >>> th.ng2-smart-th.key {
    width: 200px;
}

:host >>> div.expansion-panel__content {
    margin-left: 10px;
}

.smart-padding-without-left {
    padding-top: 5px;
}

.count-word {
    color: gray;
    font-size:75%;
}

.property-diffs {
    font-size: 75%;
}

.diff-type-number {
    font-size: 70%;
    color: gray;
}

.comment {
    color: gray;
    margin-left: 5px;
}

.added {
    color: green;
}

.removed {
    color: red;
}

.changed {
    color: cornflowerblue;
}
