<div class="center-vertical">
    <div class="count-word">
        <span>{{activeIndexNum + 1}} / {{options.length}}</span>
        <span> ... </span>
        <span>{{reportTitle}}</span>
    </div>
    <div *ngIf="isLoading" style="width: 90%; padding-left: 10px;">
        <md-progress-bar mode="indeterminate"></md-progress-bar>
    </div>
</div>
<div style="display: flex;">
    <ng-select #selector
               [options]="options"
               [(ngModel)]="activeIndex"
               [ngStyle]="{
                'z-index': '99',
                'font-size': '1.2rem'
            }"
               [className]="'smart-padding-without-left'"
               (selected)="showTrial(trial)"
    >
    </ng-select>
    <div>
        <a href={{createActiveTrialLink()}}><md-icon class="action-icon hvr-buzz-out">link</md-icon></a>
    </div>
</div>
<div style="display: flex; justify-content: space-around">
    <div>
        <md-chip>{{oneAccessPoint.name}}</md-chip>
        <small>
            <a [href]="trial.one.url" class="ellipsis-text" style="width: 30vw" target="_blank">
                {{oneAccessPoint.host}}.....
            </a>
        </small>
    </div>
    <div>
        <md-chip>{{otherAccessPoint.name}}</md-chip>
        <small>
            <a [href]="trial.other.url" class="ellipsis-text" style="width: 30vw" target="_blank">
                {{otherAccessPoint.host}}.....
            </a>
        </small>
    </div>
</div>
<div style="display: flex; justify-content: space-around">
    <div>
        <span class="label">{{oneExpectedEncoding}}</span>
        <span class="label">{{trial.one.byte}} b</span>
        <span class="label">{{trial.one.response_sec}} s</span>
        <span class="label">{{trial.one.status_code}}</span>
    </div>
    <div>
        <span class="label">{{otherExpectedEncoding}}</span>
        <span class="label">{{trial.other.byte}} b</span>
        <span class="label">{{trial.other.response_sec}} s</span>
        <span class="label">{{trial.other.status_code}}</span>
    </div>
</div>
<hr/>
<md-tab-group  [selectedIndex]="activeTabIndex" (selectedIndexChange)="afterChangeTab($event)">
    <md-tab label="Diff viewer">
        <div style="display: flex;">
            <div style="flex: 1;">
                <div *ngIf="isLoading" style="width: 90%; padding-left: 10px;">
                    <md-progress-bar mode="indeterminate"></md-progress-bar>
                </div>
                <div *ngIf="errorMessage">
                    <span class="error-message">{{errorMessage}}</span>
                </div>
                <app-diff-viewer #diffView
                                 [config]="diffViewConfig"
                >
                </app-diff-viewer>
            </div>
            <div style="padding-top: 40px; padding-left: 10px;">
                <div>
                    <md-button-toggle [checked]="unifiedDiff" (change)="changeDiffType($event.source.checked)">
                        <md-icon title="Toggl diff kind">view_agenda</md-icon>
                    </md-button-toggle>
                </div>
                <div>
                    <md-button-toggle [checked]="hideIgnoredDiff"
                                      (change)="changeHideIgnoredDiff($event.source.checked)">
                        <md-icon style="color: green;"
                                 title="Toggl ignored properties visibility">
                            visibility_off
                        </md-icon>
                    </md-button-toggle>
                </div>
                <div>
                    <md-button-toggle [checked]="hideCheckedAlreadyDiff"
                                      (change)="changeHideCheckedAlreadyDiff($event.source.checked)">
                        <md-icon style="color: red;"
                                 title="Toggl checked already properties visibility">
                            visibility_off
                        </md-icon>
                    </md-button-toggle>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Query parameters">
        <div class="shape-margin">
            <ng2-smart-table [settings]="queryTableSettings"
                             [source]="queryTableSource"
            >
            </ng2-smart-table>
        </div>
    </md-tab>
    <md-tab label="Property diffs">
        <div style="display: flex; justify-content: space-between;">
            <div *ngIf="trial.diff_keys" style="flex: 1;">
                <h2 class="center-vertical">
                    <md-icon>report_problem</md-icon>&nbsp;Unknown!!
                </h2>

                <expansion-panels-container *ngIf="!propertyDiffsByCognition.unknown.isEmpty()">
                    <expansion-panel>
                        <expansion-panel-title style="display: flex;">
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="added">add</md-icon>
                                <span class="diff-type-number">{{propertyDiffsByCognition.unknown.added.length}}</span>
                            </div>
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="changed">autorenew</md-icon>
                                <span class="diff-type-number">{{propertyDiffsByCognition.unknown.changed.length}}</span>
                            </div>
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="removed">removed</md-icon>
                                <span class="diff-type-number">{{propertyDiffsByCognition.unknown.removed.length}}</span>
                            </div>
                        </expansion-panel-title>
                        <expansion-panel-description-hidden>{{propertyDiffsByCognition.unknown.title}}</expansion-panel-description-hidden>
                        <expansion-panel-description-toggled>{{propertyDiffsByCognition.unknown.title}}</expansion-panel-description-toggled>

                        <expansion-panel-content>
                            <div *ngFor="let p of propertyDiffsByCognition.unknown.added" class="center-vertical">
                                <md-icon class="added">add</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                            <div *ngFor="let p of propertyDiffsByCognition.unknown.changed" class="center-vertical">
                                <md-icon class="changed">autorenew</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                            <div *ngFor="let p of propertyDiffsByCognition.unknown.removed" class="center-vertical">
                                <md-icon class="removed">remove</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                        </expansion-panel-content>
                    </expansion-panel>
                </expansion-panels-container>


                <h2 class="center-vertical">
                    <md-icon>thumb_up</md-icon>&nbsp;Checked already
                </h2>

                <expansion-panels-container>
                    <expansion-panel *ngFor="let pd of propertyDiffsByCognition.getNonEmptyCheckedAlready()">
                        <expansion-panel-title style="display: flex;">
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="added">add</md-icon>
                                <span class="diff-type-number">{{pd.added.length}}</span>
                            </div>
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="changed">autorenew</md-icon>
                                <span class="diff-type-number">{{pd.changed.length}}</span>
                            </div>
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="removed">removed</md-icon>
                                <span class="diff-type-number">{{pd.removed.length}}</span>
                            </div>
                        </expansion-panel-title>
                        <expansion-panel-description-hidden>
                            <div class="center-vertical">
                                <img *ngIf="pd.image" src={{pd.image}} width="32px"/>
                                <a *ngIf="pd.link" href={{pd.link}}><md-icon class="icon-large hvr-buzz-out">open_in_browser</md-icon></a>
                                <span class="comment" [innerHTML]="pd.title"></span>
                            </div>
                        </expansion-panel-description-hidden>
                        <expansion-panel-description-toggled>
                            <div class="center-vertical">
                                <img *ngIf="pd.image" src={{pd.image}} width="32px"/>
                                <a *ngIf="pd.link" href={{pd.link}}><md-icon class="icon-large hvr-buzz-out">open_in_browser</md-icon></a>
                                <span class="comment" [innerHTML]="pd.title"></span>
                            </div>
                        </expansion-panel-description-toggled>

                        <expansion-panel-content>
                            <div *ngFor="let p of pd.added" class="center-vertical">
                                <md-icon class="added">add</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                            <div *ngFor="let p of pd.changed" class="center-vertical">
                                <md-icon class="changed">autorenew</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                            <div *ngFor="let p of pd.removed" class="center-vertical">
                                <md-icon class="removed">remove</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                        </expansion-panel-content>
                    </expansion-panel>
                </expansion-panels-container>

                <h2 class="center-vertical">
                    <md-icon>visibility_off</md-icon>&nbsp;Ignored
                </h2>

                <expansion-panels-container>
                    <expansion-panel *ngFor="let pd of propertyDiffsByCognition.getNonEmptyIgnored()">
                        <expansion-panel-title style="display: flex;">
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="added">add</md-icon>
                                <span class="diff-type-number">{{pd.added.length}}</span>
                            </div>
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="changed">autorenew</md-icon>
                                <span class="diff-type-number">{{pd.changed.length}}</span>
                            </div>
                            <div class="center-horizontal little-horizontal-padding">
                                <md-icon class="removed">removed</md-icon>
                                <span class="diff-type-number">{{pd.removed.length}}</span>
                            </div>
                        </expansion-panel-title>
                        <expansion-panel-description-hidden>
                            <div class="center-vertical">
                                <img *ngIf="pd.image" src={{pd.image}} width="32px"/>
                                <a *ngIf="pd.link" href={{pd.link}}><md-icon class="icon-large hvr-buzz-out">open_in_browser</md-icon></a>
                                <span class="comment" [innerHTML]="pd.title"></span>
                            </div>
                        </expansion-panel-description-hidden>
                        <expansion-panel-description-toggled>
                            <div class="center-vertical">
                                <img *ngIf="pd.image" src={{pd.image}} width="32px"/>
                                <a *ngIf="pd.link" href={{pd.link}}><md-icon class="icon-large hvr-buzz-out">open_in_browser</md-icon></a>
                                <span class="comment" [innerHTML]="pd.title"></span>
                            </div>
                        </expansion-panel-description-toggled>

                        <expansion-panel-content>
                            <div *ngFor="let p of pd.added" class="center-vertical">
                                <md-icon class="added">add</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                            <div *ngFor="let p of pd.changed" class="center-vertical">
                                <md-icon class="changed">autorenew</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                            <div *ngFor="let p of pd.removed" class="center-vertical">
                                <md-icon class="removed">remove</md-icon>
                                <span class="property-diffs">{{p}}</span>
                            </div>
                        </expansion-panel-content>
                    </expansion-panel>
                </expansion-panels-container>
            </div>
            <div *ngIf="!trial.diff_keys" style="flex: 1;">
                <div class="center-horizontal" style="height: 50%;">
                    <div class="error-message" style="padding-top: 20px;">
                        ┌────────────────────┐<br/>
                        ｜ Oops.. I can't understand properties..   <br/>
                        └──────────────v─────-┘
                    </div>
                    <div style="padding-top: 5px;">
                        <md-icon class="icon-very-large error-message">hot_tub</md-icon>
                    </div>
                </div>
            </div>
            <div style="width: 50%">
                <button md-button (click)="updateEditorConfig()">Save</button>
                <app-editor #editor
                            [config]="editorConfig"
                >
                </app-editor>
            </div>
        </div>
    </md-tab>
</md-tab-group>
<hotkeys-cheatsheet></hotkeys-cheatsheet>
