:host >>> th.ng2-smart-th.key {
    width: 200px;
}

.smart-padding-without-left {
    padding-top: 5px;
}

.count-word {
    color: gray;
    font-size:75%;
}

.property-diffs {
    font-size: 75%;
}

.comment {
    color: gray;
    font-size: 50%;
}

.added {
    color: green;
}

.removed {
    color: red;
}

.changed {
    color: cornflowerblue;
}
