:host >>> th.ng2-smart-th.key {
    width: 200px;
}

:host >>> div.expansion-panel__content {
    margin-left: 10px;
}

.smart-padding-without-left {
    padding-top: 5px;
}

.origin-queries {
    font-size: 50%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
}

.origin-queries:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    overflow-wrap: break-word;
}

.count-word {
    color: gray;
    font-size:75%;
}

.property-diffs {
    font-size: 75%;
}

.diff-type-number {
    font-size: 70%;
    color: gray;
}

.comment {
    color: gray;
    margin-left: 5px;
}

.added {
    color: green;
}

.removed {
    color: red;
}

.changed {
    color: cornflowerblue;
}

.label {
    font-size: 60%;
    font-weight: bold;
    border-radius: 15px;
    padding: 1px 5px 1px 5px;
    border: 1px outset;
    text-shadow: 5px 5px 3px rgba(0,0,0,0.2);
}

.diff-button {
    min-width: 0;
    line-height: 25px;
}

.diff-property-overlay {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    background-color: #000000;
    color: whitesmoke;
    opacity: 0.65;
}

