<ag-grid-angular
    #agGrid
    style="width: 100%; height: 500px;"
    class="ag-theme-balham"
    enableColResize
    enableSorting
    enableFilter
    pagination
    animateRows
    floatingFilter
    [rowData]="tableRowData"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [rowClassRules]="rowClassRules"
    (gridReady)="handleGridReady($event)"
    (columnGroupOpened)="fitColumnWidths()"
    (modelUpdated)="handleModelUpdated()"
    (rowClicked)="handleRowClicked($event)"
>
</ag-grid-angular>
