:host >>> markdown {
    font-size: 85%;
}

:host >>> markdown table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

:host >>> markdown table th {
    font-size: 90%;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    color: #444;
    background-color: #ccc;
    border: 1px solid #fff;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
}

:host >>> markdown table td {
    font-size: 80%;
    padding: 4px;
    background-color: #fafafa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

textarea {
    font-size: 80%;
}

.balloon {
    background-color: rgba(255, 128, 128, 0.2);
    border-radius: 15px;
    position: relative;
    padding: 20px;
}

.balloon::after {
    border-top: solid 14px transparent;
    border-bottom: solid 14px transparent;
    border-right: solid 20px rgba(255, 128, 128, 0.2);
    left: -20px;
    content: "";
    display: block;
    height: 0;
    top: 30%;
    position: absolute;
    width: 0;
}
