md-sidenav {
    padding: 10px;
}

md-sidenav.app-sidenav2 {
    width: 800px;
}

md-sidenav-container {
    min-height: 1024px;
}

.summary-card {
    margin: 10px;
    transition: all 0.5s ease;
    box-shadow:2px 2px 5px !important;
    border:0px solid #000 !important;
    display: block !important;
}

.summary-card:hover {
    background-color: rgba(29, 202, 27, 0.2);
}

.summary-card-active {
    background-color: rgba(29, 202, 27, 0.5);
}

.action-icon {
    cursor : pointer;
}
