<md-sidenav-container>

    <md-sidenav #sidenav mode="side" class="app-sidenav" align="start">
        <md-chip-list class="md-chip-list-stacked">
            <md-chip *ngFor="let row of rows" (click)="showReport(row.report)">
                {{row.title}}
            </md-chip>
        </md-chip-list>
    </md-sidenav>

    <div class="smart-div">

        <md-input #keyWord (keyup.enter)="fetchReport(keyWord.value); sidenav.open()">
            <md-placeholder>
                <i class="material-icons app-input-icon">search</i> Search word
            </md-placeholder>
        </md-input>
        <hr/>
        <div *ngIf="activeReport">
            <h4>{{activeReport.title}} {{activeReport.summary.time.start}} -> {{activeReport.summary.time.end}}</h4>
            <ng2-smart-table [settings]="settings"
                             [source]="tableSource"
                             (userRowSelect)="showDetail($event.data);"
            >
            </ng2-smart-table>
        </div>
        <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
    </div>

</md-sidenav-container>
