<md-sidenav-container>

    <md-sidenav #sidenav mode="side" class="app-sidenav" align="start">
        <md-card *ngFor="let row of rows" (click)="showReport(row.hashkey)">
            <md-card-header>
                <md-card-title>{{row.title}}</md-card-title>
                <md-card-subtitle>{{row.begin_time}}</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <md-chip-list class="mat-chip-list-stacked">
                    <md-chip color="primary" selected="true">{{row.same_count}}</md-chip>
                    <md-chip color="accent" selected="true">{{row.different_count}}</md-chip>
                    <md-chip color="warn" selected="true">{{row.failure_count}}</md-chip>
                </md-chip-list>
            </md-card-content>
        </md-card>
    </md-sidenav>

    <div class="smart-div">

        <md-input-container>
            <input mdInput #keyWord (keyup.enter)="searchReport(keyWord.value); sidenav.open()">
            <md-placeholder>
                <i class="material-icons app-input-icon">search</i> Search word
            </md-placeholder>
        </md-input-container>
        <hr/>
        <div *ngIf="activeReport">
            <div style="float: right;">
                <md-icon>access_time</md-icon>
                <small>{{activeReport.summary.time.start}} ～ {{activeReport.summary.time.end}}</small>
            </div>
            <h2>{{activeReport.title}}</h2>
            <div class="smart-div" style="padding-top: 0;">
                <small><md-chip>Left</md-chip> {{activeReport.summary.one.host}}</small>
                <small><md-chip>Right</md-chip> {{activeReport.summary.other.host}}</small>
            </div>
            <ng2-smart-table [settings]="settings"
                             [source]="tableSource"
                             (userRowSelect)="showDetail($event.data);"
            >
            </ng2-smart-table>
        </div>
        <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
    </div>

</md-sidenav-container>
