<div>
    <div style="display: grid; grid-template-columns: 3fr 4fr 4fr">

        <div class="center-horizontal">
            <h2 class="center-vertical">
                <mat-icon>report_problem</mat-icon>&nbsp;Attentions!!
            </h2>
            <div>
                <ag-grid-angular
                    style="width: 275px;"
                    class="ag-theme-material"
                    enableColResize
                    enableSorting
                    animateRows
                    gridAutoHeight
                    [rowData]="trials | toAttention"
                    [columnDefs]="attentionColumnDefs"
                    (rowClicked)="handleDiffRowClicked($event)"
                >
                </ag-grid-angular>
            </div>
        </div>

        <div class="center-horizontal">
            <div class="center-vertical">
                <h2 class="center-vertical">
                    <mat-icon>thumb_up</mat-icon>&nbsp;Checked already&nbsp;
                </h2>
                <app-badge
                    (click)="handleCheckedAlreadyBatchClicked(this.checkedAlreadyTrials)"
                    size="small"
                    cursor="pointer"
                    kind="warning">
                    {{this.checkedAlreadyTrials.length}}
                </app-badge>
            </div>
            <div>
                <ag-grid-angular
                    style="width: 450px;"
                    class="ag-theme-material"
                    enableColResize
                    enableSorting
                    animateRows
                    gridAutoHeight
                    [rowData]="trials | toCheckedAlreadyDiffSummary"
                    [columnDefs]="checkedAlreadyColumnDefs"
                    (rowClicked)="handleDiffRowClicked($event)"
                >
                </ag-grid-angular>
            </div>
        </div>

        <div class="center-horizontal">
            <h2 class="center-vertical">
                <mat-icon>visibility_off</mat-icon>&nbsp;Ignored
            </h2>
            <div>
                <ag-grid-angular
                    style="width: 450px;"
                    class="ag-theme-material"
                    enableColResize
                    enableSorting
                    animateRows
                    gridAutoHeight
                    [rowData]="trials | toIgnoredDiffSummary"
                    [columnDefs]="ignoredColumnDefs"
                    (rowClicked)="handleDiffRowClicked($event)"
                >
                </ag-grid-angular>
            </div>
        </div>
    </div>

    <!--<div class="center-vertical">-->
    <!--<img *ngIf="c.image" src={{c.image}}/>-->
    <!--<a *ngIf="c.link" href={{c.link}} (click)="stopPropagation($event)" target=”_blank”>-->
    <!--<mat-icon class="icon-large hvr-buzz-out">open_in_browser</mat-icon>-->
    <!--</a>-->
    <!--</div>-->

    <mat-divider style="margin-top: 20px;"></mat-divider>

    <div class="center-horizontal">
        <h2>Path</h2>

        <ag-grid-angular
            #agGrid
            style="width: 50%; height: 500px;"
            class="ag-theme-balham"
            enableColResize
            enableSorting
            enableFilter
            animateRows
            floatingFilter
            [rowData]="trials | toPath"
            [columnDefs]="ignoredPathDefs"
            (gridReady)="handleGridReady($event)"
            (modelUpdated)="handleModelUpdated()"
            (rowClicked)="handlePathRowClicked($event)"
        >
        </ag-grid-angular>
    </div>

</div>
