<div class="center-horizontal">
    <h2>Login</h2>


    <div *ngIf="useLocalStack; then endpoint else credentials"></div>
    <ng-template #credentials>
        <md-input-container>
            <input mdInput
                   [(ngModel)]="accessKeyId"
                   placeholder="Access key ID"
                   (keyup.enter)="login()"
            >
        </md-input-container>
        <md-input-container>
            <input mdInput
                   type="password"
                   placeholder="Secret access key"
                   [(ngModel)]="secretAccessKey"
                   (keyup.enter)="login()"
            >
        </md-input-container>
    </ng-template>
    <ng-template #endpoint>
        <md-input-container>
            <input mdInput [(ngModel)]="localStackEndpoint" placeholder="Host (ex. http://localhost)"
                   (keyup.enter)="login()">
        </md-input-container>
    </ng-template>

    <div class="center-vertical">
        <a href="https://github.com/localstack/localstack">
            <img src="https://www.yextstatic.com/cms/spark/localstack_small.png" height="45px"/>
        </a>
        <md-slide-toggle [(ngModel)]="useLocalStack" class="smart-padding-left-small">
        </md-slide-toggle>
    </div>

    <div *ngIf="authenticating">
        Login...
        <md-progress-bar mode="indeterminate"></md-progress-bar>
    </div>

    <span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
</div>
