@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ellipsis-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.smart-padding {
    padding: 20px;
}

.smart-padding-without-bottom {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.smart-padding-without-top {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.ng2-smart-row:hover {
    background-color: rgba(29, 202, 27, 0.2);
}

.CodeMirror-merge-l-chunk {
    background-color: rgba(250, 250, 250, 1.0);
}

.CodeMirror-merge-l-chunk-start {
    border-top: 1px solid rgb(220, 220, 220);
}

.CodeMirror-merge-l-chunk-end {
    border-bottom: 1px solid rgb(220, 220, 220);
}

.CodeMirror-merge-l-connect {
    fill: rgba(200, 200, 200, 0.2);
    stroke: rgba(200, 200, 200, 0.5);
    stroke-width: 1px;
}

.CodeMirror-merge-l-inserted {
    background: rgba(210, 210, 255, 1.0) none;
}

.CodeMirror-merge-l-deleted  {
    text-decoration: line-through;
    background: rgba(255, 210, 210, 1.0) none;
}
