@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.center-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

div.ellipsis-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.little-horizontal-padding {
    margin-left: 2px;
    margin-right: 2px;
}

.smart-padding {
    padding: 20px;
}

.smart-padding-left {
    padding-left: 20px;
}

.smart-padding-small {
    padding: 10px;
}

.smart-padding-xsmall {
    padding: 5px;
}

.smart-padding-without-bottom {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.smart-padding-without-top {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.smart-padding-xsmall-without-top {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.smart-padding-without-left {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}


tr.ng2-smart-row:hover,
div.mat-sidenav-content div div ng2-smart-table table tbody tr.ng2-smart-row.selected:hover {
    background: rgba(27, 27, 202, 0.15);
}

.action-icon {
    cursor: pointer;
}

.action-icon-large {
    font-size: 35px;
}

.action-text {
    cursor : pointer;
}

.icon-small {
    font-size: 16px;
}

.icon-large {
    font-size: 28px;
}

.icon-very-large {
    width: 200px;
    height: 200px;
    font-size: 200px;
}

.error-message {
    color: red;
}

.multi-line {
    white-space: pre-line;
}
