:host >>> #toast-container > div {
    max-width: 600px;
    width: auto;
    min-width: 300px;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

mat-sidenav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
}

mat-form-field {
    width: 100%;
}

.navbar-title {
    padding: 10px;
    font-family: cursive;
    font-size: 150%;
    font-style: italic;
}

.navbar-version {
    padding-right: 10px;
    color: lightsteelblue;
    font-size: 75%;
    margin-top: 17px;
}

.navbar-region {
    font-size: 14px;
    font-weight: bold;
}

.region-fine {
    color: rgb(134, 255, 151);
}

.region-danger {
    color: #ffa9ac;
}
