<mat-sidenav-container fullscreen>
    <mat-toolbar color="primary">
        <img src="assets/miroir-inverse.png" width="30px" />
        <div class="navbar-title">Miroir</div>
        <div class="navbar-version">{{version}}</div>
        <mat-chip-list *ngIf="useLocalStack">
            <mat-chip color="accent" selected="true" [title]="localStackEndpoint">LocalStack</mat-chip>
        </mat-chip-list>
        <span class="remaining-space"></span>
        <span routerLink='/login'><button mat-button>Log-out</button></span>
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon class="mat-24">menu</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #sidenav position="end" mode="over" (openedStart)="pingAll()" (closedStart)="update()">
        <mat-form-field>
            <input matInput [(ngModel)]="region" placeholder="Region" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput required
                   placeholder="DynamoDB table name"
                   [(ngModel)]="table"
                   (focusout)="pingTable()">
            <mat-spinner *ngIf="connectingTable" diameter="20"></mat-spinner>
            <span class="error-message-small" *ngIf="!connectingTable">{{tableError}}</span>
            <mat-icon *ngIf="!tableError && !connectingTable" matSuffix class="icon-fine">check</mat-icon>
            <mat-icon *ngIf="tableError && !connectingTable" matSuffix class="icon-danger">close</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input matInput required
                   placeholder="Bucket name"
                   [(ngModel)]="bucket"
                   (focusout)="pingBucket()">
            <mat-spinner *ngIf="connectingBucket" diameter="20"></mat-spinner>
            <span class="error-message-small" *ngIf="!connectingBucket">{{bucketError}}</span>
            <mat-icon *ngIf="!bucketError && !connectingBucket" matSuffix class="icon-fine">check</mat-icon>
            <mat-icon *ngIf="bucketError && !connectingBucket" matSuffix class="icon-danger">close</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                   placeholder="Prefix"
                   [(ngModel)]="prefix"
                   (focusout)="pingPrefix()">
            <mat-spinner *ngIf="connectingPrefix" diameter="20"></mat-spinner>
            <span class="error-message-small" *ngIf="!connectingPrefix">{{prefixError}}</span>
            <mat-icon *ngIf="!prefixError && !connectingPrefix" matSuffix class="icon-fine">check</mat-icon>
            <mat-icon *ngIf="prefixError && !connectingPrefix" matSuffix class="icon-danger">close</mat-icon>
        </mat-form-field>

        <div class="center-vertical">
            Use intelligent analytics always.
            <mat-slide-toggle [(ngModel)]="alwaysIntelligentAnalytics" class="smart-padding-left-small">
            </mat-slide-toggle>
        </div>
    </mat-sidenav>

    <app-summary></app-summary>

</mat-sidenav-container>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
