<md-sidenav-container fullscreen>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon class="md-24" >menu</md-icon>
        </button>
        <div>Jumeaux Viewer</div>
    </md-toolbar>

    <md-sidenav #sidenav mode="over" class="app-sidenav" (close)="update()">
        <md-list>
            <md-list-item>
                <md-input-container>
                    <input mdInput [(ngModel)]="region" placeholder="Region">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <input mdInput [(ngModel)]="table" placeholder="DynamoDB table name">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <input mdInput [(ngModel)]="bucket" placeholder="Bucket name">
                </md-input-container>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <app-summary></app-summary>

</md-sidenav-container>
