<mat-sidenav-container fullscreen>
    <mat-toolbar color="primary">
        <img src="assets/miroir-inverse.png" width="30px"/>
        <div class="navbar-title">Miroir</div>
        <div class="navbar-version">{{version}}</div>
        <span class="remaining-space"></span>

        <div class="navbar-region center-vertical {{ hasErrorSettings() ? 'region-danger' : 'region-fine' }}">
            <mat-icon style="padding-right: 5px;">{{ hasErrorSettings() ? 'cloud_off' : 'cloud' }}</mat-icon>
            <span>{{useLocalStack ? "LocalStack" : region}}</span>
        </div>

        <span style="width: 15px;"></span>
        <button mat-mini-fab color="primary" (click)="sidenav.open()">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav #sidenav position="end" mode="over" (closedStart)="update()">
        <mat-form-field>
            <mat-select placeholder="Region" [(ngModel)]="region" (selectionChange)="update()">
                <mat-option *ngFor="let region of REGIONS" [value]="region">
                    {{ region }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput required
                   placeholder="DynamoDB table name"
                   [(ngModel)]="table"
                   (focusout)="update()">
            <mat-spinner *ngIf="connectingTable" diameter="20"></mat-spinner>
            <span class="error-message-small" *ngIf="!connectingTable">{{tableError}}</span>
            <mat-icon *ngIf="connectingTable" matSuffix></mat-icon>
            <!--Above is needed to show icons certainly. Is this a bug?-->
            <mat-icon *ngIf="!tableError && !connectingTable" matSuffix class="icon-fine">check</mat-icon>
            <mat-icon *ngIf="tableError && !connectingTable" matSuffix class="icon-danger">close</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input matInput required
                   placeholder="Bucket name"
                   [(ngModel)]="bucket"
                   (focusout)="update()">
            <mat-spinner *ngIf="connectingBucket" diameter="20"></mat-spinner>
            <span class="error-message-small" *ngIf="!connectingBucket">{{bucketError}}</span>
            <mat-icon *ngIf="connectingBucket" matSuffix></mat-icon>
            <!--Above is needed to show icons certainly. Is this a bug?-->
            <mat-icon *ngIf="!bucketError && !connectingBucket" matSuffix class="icon-fine">check</mat-icon>
            <mat-icon *ngIf="bucketError && !connectingBucket" matSuffix class="icon-danger">close</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                   placeholder="Prefix"
                   [(ngModel)]="prefix"
                   (focusout)="update()">
            <mat-spinner *ngIf="connectingPrefix" diameter="20"></mat-spinner>
            <span class="error-message-small" *ngIf="!connectingPrefix">{{prefixError}}</span>
            <mat-icon *ngIf="connectingPrefix" matSuffix></mat-icon>
            <!--Above is needed to show icons certainly. Is this a bug?-->
            <mat-icon *ngIf="!prefixError && !connectingPrefix" matSuffix class="icon-fine">check</mat-icon>
            <mat-icon *ngIf="prefixError && !connectingPrefix" matSuffix class="icon-danger">close</mat-icon>
        </mat-form-field>

        <mat-divider style="margin: 15px 0;"></mat-divider>

        <div class="center-vertical">
            Use intelligent analytics always.
            <mat-slide-toggle [(ngModel)]="alwaysIntelligentAnalytics" class="smart-padding-left-small">
            </mat-slide-toggle>
        </div>

        <mat-divider style="margin: 15px 0;"></mat-divider>

        <mat-form-field>
          <mat-select placeholder="Key binding mode" [(ngModel)]="keyMode" (selectionChange)="update();">
            <mat-option *ngFor="let keyMode of KEY_MODES" [value]="keyMode">
              {{ keyMode }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button routerLink="/login" style="margin-top: 20px;">
            <mat-icon class="mat-24">exit_to_app</mat-icon>
            <span>Log-out</span>
        </button>
    </mat-sidenav>

    <app-summary></app-summary>

</mat-sidenav-container>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
